# stuff created by pycharm.
.idea/
__pycache__/
# Data analysis notebooks aren't meant to be synced with the notebook (they aren't meant to be here permanently), but the other ones can be. 
Data_Analysis_Notebooks/*
Temp/*
!CalibrationModules/*.ipynb
Figures/
Data/
Analysis code backup/
Videos/
# created by jupyter.
.ipynb_checkpoints/
!Grey-Loading-Paper/*
*.png
*.svg
*.csv
*.pdf
*.h5
*.nb
*.gif
*.wct
*.txt
*.jpeg
*.tex
DM_Profiles/*
