# stuff created by pycharm.
.idea/
__pycache__/
# jupyter notebooks are not meant to be syncronized with this repository.
*.ipynb
!CalibrationModules/*.ipynb
Figures/
Data/
Analysis code backup/
Videos/
# created by jupyter.
.ipynb_checkpoints/
!Grey-Loading-Paper/*
*.png
*.svg
*.csv
*.pdf
*.h5
*.nb
*.gif
*.wct
*.txt
*.jpeg
*.tex